version: '3.8'

services:
  db:
    image: mcr.microsoft.com/mssql/server:2022-latest
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=YourStrong@Passw0rd
    ports:
      - "1433:1433"
    volumes:
      - sql_data:/var/opt/mssql

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"

  api:
    build:
      context: ./PNS
      dockerfile: API/Dockerfile
    environment:
      - ASPNETCORE_ENVIRONMENT=Development
      - ConnectionStrings__PnsConnectionString=Server=db;Database=PnsDb;User Id=sa;Password=YourStrong@Passw0rd;TrustServerCertificate=True
      - ConnectionStrings__Redis=redis:6379
      - JwtSettings__Key=MySuperSecretKeyForDevelopmentOnly12345!
      - JwtSettings__Issuer=PNS_API
      - JwtSettings__Audience=PNS_CLIENT
    ports:
      - "5217:8080"
    depends_on:
      - db
      - redis

  dashboard:
    build:
      context: ./pns-dashboard
      dockerfile: Dockerfile
    ports:
      - "5173:80"
    depends_on:
      - api

volumes:
  sql_data:
