@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to PNS</h1>
    <p class="lead">Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <p class="text-muted">Last updated @System.DateTime.Now.ToString("yyyy-MM-dd HH:mm")</p>
</div>
